﻿
@model List<Album>



<div class="oneMusic-buy-now-area mb-100">
    <div class="container">
        <h2>En Son Eklenen Albümler</h2>
        <h4>En son eklenen albümleri keşfedin ve albümlerdeki hit parçaları anında dinleyerek müzik dolu bir yolculuğa çıkın.</h4>
        <br /> <br />
        <div class="row">
            @foreach (var item in Model)
            {
            
                <!-- Single Album Area -->
                <div class="col-12 col-sm-6 col-md-3">
                    <div class="single-album-area">
                        <div class="album-thumb">
                            <img style="width:250px; height:200px;" src="@item.CoverImage" alt="">
                            <!-- Album Price -->
                            <div class="album-price">
                                <p>@item.Price.ToString("n2") ₺</p>
                            </div>
                            <!-- Play Icon -->
                            @if (item.Songs != null && item.Songs.FirstOrDefault() != null && !string.IsNullOrEmpty(item.Songs.FirstOrDefault().SongUrl))
                            {
                                <audio preload="auto" controls>
                                    <source src="@item.Songs.FirstOrDefault()?.SongUrl">
                                </audio>
                            }
                            else
                            {
                                <audio preload="auto" controls>
                                    <source src="/songs/default.mp3">
                                </audio>
                            }


                        </div>
                        <div class="album-info">
                            <a href="#">
                                <h5>@item.AlbumName</h5>
                            </a>
                            <p>@item.AppUser.Name @item.AppUser.Surname</p>
                        </div>
                    </div>
                </div>
            }
        </div>


        <br /> <br /> <br />
        <div class="row">
            <div class="col-12">
                <div class="load-more-btn text-center">
                    <a href="#" class="btn oneMusic-btn">Daha Fazla Yükle <i class="fa fa-angle-double-right"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>