@model List<Song>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
    int count = 0;
}

<h3>Şarkılar Sayfası</h3>

<table class="table table-bordered table-hover">
   <tr>
       <td>#</td>
       <td>Şarkı Adı</td>
       <td>Şarkı Url</td>
       <td>Album ID</td>
       <td>İşlemler</td>
   </tr>
   @foreach (var item in Model)
    {
        count++;
        <tr>
            <th>@count</th>
            <td>@item.SongName</td>
            <td>@item.SongUrl</td>
            <td>@item.AlbumID</td>
            <td>
                <a class="btn btn-outline-danger" asp-action="DeleteSong" asp-route-id="@item.SongUrl">Sil</a>
                <a class="btn btn-outline-info" asp-action="UpdateSong" asp-route-id="@item.SongUrl">Güncelle</a>
            </td>
        </tr>
    }

</table>
<br />
<a class="btn btn-outline-primary" asp-action="CreateSong">Yeni Şarkı Ekle</a>
